.Movie-wrapper {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    border: 1px solid #dfdfdf;
    margin-bottom: 10px;
    background-color: white;
}

.Added-movie-info {
    padding: 15px;
    width: 30%;
}

.Added-movie-synopsis {
    padding: 15px;
    width: 70%;
}

.Tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    margin-top: 5px;
    border-radius: 30px;
    border: 1px solid #dfdfdf;
    width: fit-content;
    margin-left: 3px;
    margin-right: 3px;
}

.Tag-text {
    margin-right: 6px;
    margin-left: 18px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.Tags-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5px;
}

.Tags-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.Tag-icon {
    margin-right: 15px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.Added-genres {
    font-size: 14px;
    font-weight: 600;
    font-style: italic;
}

.Synopsis {
    text-align: left;
}

.Movie-poster-small {
    width: 80px;
}

.Added-movie-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0px;
}

.Movie-button {
    margin-top: 20px;
}

.Time-accumulator {
    font-size: 18px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
}